body{
    background-color: #555;
}
.layer{
    position: absolute;
    top: 50px;
    bottom: 20px;
    right: 250px;
    left: 350px;
    display: relative;
    
}
#rect-1{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 40px;
    border-left: 20px;
    visibility: hidden;

}
#rect-2{
    width:80px;
    height: 40px;
    background-color: yellow;
    border-radius: 40px;
    visibility: hidden; 

}
#rect-3{
    width:120px;
    height: 40px;
    background-color: rgb(19, 199, 19);
    border-radius: 40px;
    visibility: hidden; 

}
#rect-4{
    width:160px;
    height: 40px;
    background-color: rgb(19, 67, 211);
    border-radius: 40px; 
    visibility: hidden;

}
#rect-5{
    width:200px;
    height: 40px;
    background-color: magenta;
    border-radius: 40px;
    visibility: hidden; 
}
#rect-6{
    width:240px;
    height: 40px;
    background-color: rgb(163, 20, 99);
    border-radius: 40px;
    visibility: hidden;

}


.triangle{
    width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top: 320px solid rgb(220, 132, 17);
    border-radius: 16px;
}
.buton{
    display: inline;
    margin: 20px;
    padding: 20px;
}
#increment{
    width: 150px;
    height: 50px;
    background-color: rgb(29, 104, 169);
    border-radius: 5px;
    color: cornsilk;
}
#decrement{
    width: 150px;
    height: 50px;
    background-color: rgb(29, 104, 169);
    border-radius: 5px;
    color: cornsilk;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 768px){
    [class*="rect-"] {
        width: 60%;
        
      }
    [class="triangle"]{
        width: 60%;
        
    }
    [class="head"]{
        width: 80%;
    }
    }
@media only screen and (min-width: 769px) and (max-width: 1250px){
        [class*="rect-"] {
            width: 50%;
            
          }
        [class="triangle"]{
            width: 50%;
            
        }
        [class="head"]{
            width: 80%;
        }
        }

   
